<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Belajar Vue</title>
</head>
<br>
    <!--MEssage  -->
    <div id="app">
        <h1>Vue App</h1>
        <p>{{message}}</p>
    </div>

    <!-- MEssage reverse -->
    <div id="app1">
        <p>message: {{message}}</p>
        <button v-on:click="reverseMessage">reverse</button>
    </div>
    <div id="app2">
        <h2>Count <span>{{count}}</span></h2>
        <button v-on:click="maju">maju</button>
        <button v-on:click="mundur">mundur</button>
    </div>

    <!-- Simple Todo list -->
    <div id="todo">
        <form @submit.prevent="addTodo">
            <label for="todoApp">Add todo list: </label>
            <br/>
            <input type="text" id="todoApp" v-model="nextTodo"/>
            <button>Add</button>
        </form>
        <div>
            <ol>
                <li v-for="(todo, i) in todolist">
                    {{todo}}
                    <br/>
                    <button @click="removeTodo(i)">Remove</button>
                </li> 
            </ol>
        </div>
    </div>

    <!-- Imported components -->
    <div id="component-demo">
        <div>
            <button-counter></button-counter>
        </div>
    </div>

    <!-- Props Title-->

    <div id="blogApp">
        <form @submit.prevent="addPlace">
            <label for="blog-title">Add place list: </label>
            <br/>
            <input type="text" id="blog-title" v-model="nextPlace"/>
            <br/>
            <button>Add Place</button>
        </form>
        <blog-post v-for="(place, index) in places"
                    :key="index"
                    :title="place"
                    :number="index + 1"
                    v-on:remove="removePlace(index)"
        ></blog-post>
    </div>  
    
    <br/>

    <!-- Transition Components -->
    <div id="demoTransition">
        <button v-on:click="show = !show">Toggle</button>
        <div v-if="show">Hello</div>
        <div v-else="">not hello</div>
    </div>

    <br/>
    <!-- Mixin -->
    <div id="mixinEl">
        <p>{{message}}</p>
        <p>{{foo}}</p>
        <p>{{bar}}</p>
    </div>
    </br>

    <div id="mixinCreated"></div>
    <script type = "text/javascript" src = "app.js"></script>
</body>
</html>